@import "../less/list-group.less";

// Individual list items
//
// Tweaks for which is also a .form-group

.list-group-item {
  &.form-group {
    margin-left: 0;
    margin-right: 0;
    padding: 4px 3px;
    .input-plain {
      padding-right: 32px;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  [class^='col-'] {
    padding-right: 0;
  }
}
