{% block content %}
<div id="content" class="container-fluid">
  <h1>One Minute of Thought Provocation Delivered Free Daily</h1>
  <form id="subscribe-form" class="form-inline" method="post" action="https://tinyletter.com/1stpd" target="popupwindow">
    <div class="form-group">
      <label class="sr-only" for="tlemail">Your email address</label>
      <input type="email" class="form-control" name="email" id="tlemail" placeholder="Your email address">
    </div>
    <input type="hidden" value="1" name="embed">
    <button type="submit" class="sr-only">Subscribe</button>
   </form>
</div>
{% endblock %}
